APP_ENV=dev
DATABASE_URL=postgresql+psycopg2://airq:airq@postgres:5432/airq
JWT_SECRET=change-me-very-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
API_HOST=0.0.0.0
API_PORT=8000
METRICS_PORT=9100
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=airq/+/+
COLLECTOR_INTERVAL_MINUTES=5
FHMZ_URL=https://www.fhmzbih.gov.ba/latinica/ZRAK/AQI-satne.php
OPEN_METEO_URL=https://air-quality-api.open-meteo.com/v1/air-quality
